/* Navbar.css */

/* Style for the AppBar */
.navbar-appbar {
    background-color: #1B6A94; /* Dark Blue */
  }
  
  /* Style for the Toolbar */
  .navbar-toolbar {
    padding: 0 20px;
  }
  
  /* Style for the Typography */
  .navbar-typography {
    flex-grow: 1;
  }
  
  /* Style for the Button */
  .navbar-button {
    color: #fff;
  }
  
  /* Style for the Link */
  .navbar-link {
    text-decoration: none;
    color: #fff;
  }
  
  /* Style for the active Link */
  .navbar-link.active {
    font-weight: bold;
  }
  